@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
   
}

.p-xlarge{
    padding: 0 65px;
}

.p-xsmall{
    padding: 0 17px;
}